/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests (FADE)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withLabel:process_single {
        memory = { 3.GB * task.attempt }
    }
}

params {
    config_profile_name        = 'FADE test profile'
    config_profile_description = 'Minimal test dataset to check HYPHY FADE pipeline function'

    // Input data
    input  = params.pipelines_testdata_base_path + 'samplesheet/test_fade_samplesheet.csv'
}
